.todo-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    min-height: 40px;
    margin-bottom: 15px;
    .todo-desc-edit{
        width: 80%;
    }
    .todo-actions{
        width: fit-content;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &:last-child{
        margin-bottom: 0;
    }
}