@import "../../scss/variable";
.input-modal-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background-color: $color-primary;
  margin-bottom: 15px;
  outline: 3px darken($color: $color-primary, $amount: 10%) solid;

  input {
    width: 80%;
    height: 30px;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
  }

  .modal-btns {
    align-items: center;
    width: 20%;
    display: flex;

    .btn {
      width: 50%;
      height: 30px;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
